flows.json
[{"id":"de7ffed2.b31b1","type":"tab","label":"Proxy","disabled":true,"info":""},{"id":"fa950047.80a58","type":"tab","label":"AQI - AirVisual","disabled":false,"info":""},{"id":"ed906b93.077e28","type":"tab","label":"Corona Virus","disabled":false,"info":""},{"id":"48a42e48.74137","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3bccd41d.0e6efc","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7b469d8d.557a74","type":"ui_group","z":"","name":"Outdoor","tab":"3bccd41d.0e6efc","order":1,"disp":true,"width":"6","collapse":false},{"id":"14884f49.fb2b41","type":"ui_group","z":"","name":"Weather","tab":"3bccd41d.0e6efc","order":2,"disp":true,"width":"6","collapse":false},{"id":"1ec0d74d.18d769","type":"ui_link","z":"","name":"Corona Virus","link":"https://www.worldometers.info/coronavirus/","icon":"fa-heartbeat","target":"iframe","order":3},{"id":"edbd4cf7.b984a","type":"ui_link","z":"","name":"AirVisual","link":"https://www.airvisual.com/thailand/bangkok","icon":"toys","target":"iframe","order":2},{"id":"f6849123.e05da","type":"ui_group","z":"","name":"Corona Virus","tab":"3bccd41d.0e6efc","disp":true,"width":"6","collapse":false},{"id":"163d751a.3eb9cb","type":"ngrokauth","z":""},{"id":"24d898f8.bda1b8","type":"ngrokauth","z":""},{"id":"15166c05.110264","type":"comment","z":"fa950047.80a58","name":"Sample: Retrieve AQI","info":"","x":140,"y":40,"wires":[]},{"id":"57a5495e.eebfc8","type":"http request","z":"fa950047.80a58","name":"AirVisual API","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.airvisual.com/v2/nearest_city","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":100,"wires":[["30801090.8ae95"]]},{"id":"6e7ed65a.2d25b8","type":"inject","z":"fa950047.80a58","name":"Inject Every - 1 hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"1","x":140,"y":100,"wires":[["fc084f49.34d5f"]],"outputLabels":["inject"],"icon":"font-awesome/fa-feed"},{"id":"f44c859b.39c048","type":"function","z":"fa950047.80a58","name":"Transform Data","func":"function transformData() {\n  const { status, data } = flow.get('airData') || {};\n\n  if (status !== 'success')\n    return {\n      payload: { status: 'failed', message: 'Cannot get any data from API' }\n    };\n\n  return [\n    {\n      payload: {\n        status,\n        data\n      }\n    },\n    {\n      weather: data.current.weather\n    },\n    {\n      city: data.city,\n      state: data.state,\n      country: data.country,\n      pollution: data.current.pollution\n    }\n  ];\n}\n\nreturn transformData();\n","outputs":3,"noerr":0,"x":360,"y":320,"wires":[["3f3da5d4.0da22a"],["e84e50d7.069fd"],["d35f3730.4348f8"]]},{"id":"7775e3db.18848c","type":"ui_template","z":"fa950047.80a58","group":"14884f49.fb2b41","name":"Weather Box","order":1,"width":6,"height":4,"format":"<div style=\"text-align: center;\" >\n  <div  style=\"height: 80px; display:inline-block; padding-right: 10px;\">\n    <img src=\"{{msg.payload.url}}\" alt=\"{{msg.payload.desc}}\" title=\"{{msg.payload.desc}}\" width=\"75\" /><br/>\n  </div>\n  <div  style=\"display:inline-block;margin-top: 19px;vertical-align: top;font-size: 35px;\">\n    <span>{{msg.payload.temp}}°</span>\n  </div>\n  <div style=\"width: 100%; text-transform: capitalize;\">\n    <h3>{{msg.payload.desc}}</h3>\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":890,"y":320,"wires":[[]]},{"id":"e84e50d7.069fd","type":"function","z":"fa950047.80a58","name":"Mapping Weather Icon","func":"const { ic: icon, tp: temp }  = msg.weather;\nlet desc = 'Weather Icon';\nswitch (icon){\n    case '01d': desc='clear sky (day)'; break;\n    case '01n': desc='clear sky (night)'; break;\n    case '02d': desc='few clouds (day)'; break;\n    case '02n': desc='few clouds (night)'; break;\n    case '03d': desc='scattered clouds'; break;\n    case '04d': desc='broken clouds'; break;\n    case '09d': desc='shower rain'; break;\n    case '10d': desc='rain (day time)'; break;\n    case '10n': desc='rain (night time)'; break;\n    case '11d': desc='thunderstorm'; break;\n    case '13d': desc='snow'; break;\n    case '50d': desc='mist'; break;\n}\nreturn {\n    payload: {\n        url: `https://www.airvisual.com/images/${icon}.png`,\n        desc: desc,\n        temp\n    }\n};","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["7775e3db.18848c"]]},{"id":"a31a1678.a0bb88","type":"comment","z":"fa950047.80a58","name":"Display Icon by Weather","info":"","x":930,"y":280,"wires":[]},{"id":"d35f3730.4348f8","type":"function","z":"fa950047.80a58","name":"Mapping US AQI","func":"const { city, state, country, pollution } = msg;\nreturn {\n    topic: `${city} / ${state}`,\n    payload: { aqi: pollution.aqius }\n};","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["a4156f4.fe5df9"]]},{"id":"a4156f4.fe5df9","type":"ui_gauge","z":"fa950047.80a58","name":"AQI Box","group":"7b469d8d.557a74","order":1,"width":6,"height":4,"gtype":"gage","title":"{{topic}}","label":"µg/m³","format":"{{payload.aqi}}","min":0,"max":"300","colors":["#40e400","#ffff00","#f91000"],"seg1":"Moderate","seg2":"Unhealthy","x":880,"y":440,"wires":[]},{"id":"f8a72e43.799ee","type":"comment","z":"fa950047.80a58","name":"Display US AQI","info":"","x":900,"y":400,"wires":[]},{"id":"f1fb3606.4874b8","type":"debug","z":"fa950047.80a58","name":"Console - Raw","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":100,"wires":[]},{"id":"9efb9b2f.b01458","type":"function","z":"fa950047.80a58","name":"Extract Env.","func":"return {\n    headers: {\n        'x-forwarded-for': msg.payload.publicIPv4\n    },\n    payload: {\n        city: env.get('AIRVISUAL_CITY'),\n        state: env.get('AIRVISUAL_STATE'),\n        country:env.get('AIRVISUAL_COUNTRY'),\n        key: env.get('AIRVISUAL_KEY')\n    }\n};","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["57a5495e.eebfc8"]]},{"id":"48603a4f.78e144","type":"complete","z":"fa950047.80a58","name":"Trigger AirData","scope":["30801090.8ae95"],"uncaught":false,"x":120,"y":320,"wires":[["f44c859b.39c048"]]},{"id":"3f3da5d4.0da22a","type":"debug","z":"fa950047.80a58","name":"Console - airData","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":240,"wires":[]},{"id":"30801090.8ae95","type":"function","z":"fa950047.80a58","name":"Save Data","func":"function saveData({payload}) {\n    flow.set('airData', payload);\n    return flow.get('airData');\n}\n\nreturn saveData(msg);","outputs":1,"noerr":0,"x":890,"y":100,"wires":[["f1fb3606.4874b8"]]},{"id":"2e95c843.225fc8","type":"comment","z":"fa950047.80a58","name":"When air data has been saved it trigger immediately.","info":"","x":230,"y":240,"wires":[]},{"id":"d7799393.010f2","type":"inject","z":"ed906b93.077e28","name":"Inject Every - 1 hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"1","x":140,"y":120,"wires":[["68c0af22.f04fb"]]},{"id":"68c0af22.f04fb","type":"http request","z":"ed906b93.077e28","name":"Request Data","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.worldometers.info/coronavirus/","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":120,"wires":[["6f45b60d.e14f88"]]},{"id":"12d677e.26daa88","type":"debug","z":"ed906b93.077e28","name":"Console - Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":120,"wires":[]},{"id":"6f45b60d.e14f88","type":"html","z":"ed906b93.077e28","name":"Scraping Data","property":"payload","outproperty":"payload","tag":"[id*='maincounter-wrap']","ret":"text","as":"single","x":560,"y":120,"wires":[["36988935.95eb16"]]},{"id":"8dd509c7.ee0a28","type":"comment","z":"ed906b93.077e28","name":"Scraping data from Worldometers","info":"[Corona Virus](https://www.worldometers.info/coronavirus/)","x":180,"y":57,"wires":[]},{"id":"73aecf9c.13644","type":"function","z":"ed906b93.077e28","name":"Transform Data","func":"function transformData() {\n  let virus = {};\n  const { payload: content } = flow.get(\"virusData\");\n\n  if (Array.isArray(content)) {\n    content.forEach(item => {\n      if (item) {\n        const [key, value] = item.split(\": \");\n        virus[`${key.trim()}`] = value.trim();\n      }\n    });\n  }\n  return virus;\n}\nreturn {\n  payload: transformData()\n};\n","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["18a4786f.ad1238","13b1db06.643bd5"]]},{"id":"df505133.8da48","type":"complete","z":"ed906b93.077e28","name":"Trigger virusData","scope":["36988935.95eb16"],"uncaught":false,"x":120,"y":320,"wires":[["73aecf9c.13644"]]},{"id":"36988935.95eb16","type":"function","z":"ed906b93.077e28","name":"Save Data","func":"function saveData({ payload }) {\n    flow.set('virusData', { payload });\n    return flow.get('virusData');\n}\n\nreturn saveData(msg);","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["12d677e.26daa88"]]},{"id":"195e3de2.13c3d2","type":"comment","z":"ed906b93.077e28","name":"When virus data has been saved it trigger immediately.","info":"","x":240,"y":260,"wires":[]},{"id":"18a4786f.ad1238","type":"debug","z":"ed906b93.077e28","name":"Console - virusData","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":260,"wires":[]},{"id":"89ae1d11.1f02a","type":"ui_template","z":"ed906b93.077e28","group":"f6849123.e05da","name":"Corona Box","order":1,"width":6,"height":4,"format":"<style>\n    .gray {\n        color: white;\n    }\n    .red {\n        color: red;\n    }\n    .green {\n        color: #01da01;\n    }\n    .main {\n        text-align: center;\n        font-size: large;\n    }\n    .main div {\n        padding-bottom: 10px;\n    }\n</style>\n<div class=\"main\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":380,"wires":[[]]},{"id":"13b1db06.643bd5","type":"function","z":"ed906b93.077e28","name":"Build HTML","func":"function buildTemplate({ payload }) {\n  return Object.entries(payload)\n    .map(([key, value], i) => {\n      let css = \"gray\";\n\n      if (i === 1) css = \"red\";\n      else if (i === 2) css = \"green\";\n\n      return `<div class=\"${css}\"><h3>${key}</h3><span>${value}</span></div>`;\n    })\n    .join(\"\");\n}\nreturn {\n  payload: buildTemplate(msg)\n};\n","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["89ae1d11.1f02a"]]},{"id":"27f1197c.b533a6","type":"sendgrid","z":"de7ffed2.b31b1","from":"","to":"","name":"Send Email","content":"html","x":950,"y":180,"wires":[]},{"id":"3392ca10.7091e6","type":"debug","z":"de7ffed2.b31b1","name":"Console - ngrok","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":260,"wires":[]},{"id":"20d9526a.543cee","type":"debug","z":"de7ffed2.b31b1","name":"Console - Body","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":260,"wires":[]},{"id":"9f61036.710de","type":"inject","z":"de7ffed2.b31b1","name":"Turn on","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":180,"wires":[["8215316b.0c1f1"]]},{"id":"1aa26c67.ffd2e4","type":"catch","z":"de7ffed2.b31b1","name":"Catch All","scope":null,"uncaught":false,"x":100,"y":460,"wires":[["5c753c9e.e61d84"]]},{"id":"5c753c9e.e61d84","type":"debug","z":"de7ffed2.b31b1","name":"Error Log","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":460,"wires":[]},{"id":"157986a8.4870b9","type":"function","z":"de7ffed2.b31b1","name":"Prepare email Data","func":"function buildTemplate(url) {\n    return `\n    <div style='margin 6%;'>\n        <a href=\"${url}/ui/\" target=\"_blank\">My Node-RED URL</a>\n    </div>`;    \n}\nfunction prepareEmailData({ payload }) {\n  const url = payload;\n  if (!url) {\n    return [\n      {\n        payload: 'Turn of proxy'\n      }\n    ];\n  }\n  return [\n    null,\n    {\n      topic: 'My Node-RED URL',\n      payload: buildTemplate(url),\n      key: env.get('SENDGRID_API_KEY'),\n      from: { email: env.get('SENDGRID_FROM'), name: 'Batify Bot' },\n      to: env.get('SENDGRID_TO')\n    }\n  ];\n}\nreturn prepareEmailData(msg);\n","outputs":2,"noerr":0,"x":630,"y":180,"wires":[["2b7ce.747c48328"],["20d9526a.543cee","27f1197c.b533a6"]]},{"id":"1ebefcb0.460523","type":"inject","z":"de7ffed2.b31b1","name":"Turn off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["8215316b.0c1f1"]]},{"id":"29eccc45.2d7a84","type":"comment","z":"de7ffed2.b31b1","name":"!!! Bootstrapper Proxy !!!","info":"","x":130,"y":120,"wires":[]},{"id":"8215316b.0c1f1","type":"ngrok","z":"de7ffed2.b31b1","port":"","creds":"24d898f8.bda1b8","subdomain":"","name":"","auth":"","x":310,"y":180,"wires":[["3392ca10.7091e6","157986a8.4870b9"]]},{"id":"504f1bf8.1d16e4","type":"comment","z":"de7ffed2.b31b1","name":"Handle All Error Exceptions","info":"","x":150,"y":400,"wires":[]},{"id":"b6f7e0c9.a44ef","type":"comment","z":"de7ffed2.b31b1","name":"Custom sendgrid configuration","info":"## Can assign any data that SendGrid API has to provide\n - API key\n - Send To Email\n - Send From Email(s)\n - Body Message\n - Body with Attachment\n - File Name\n - Template ID\n - Template Data\n","x":660,"y":120,"wires":[]},{"id":"2b7ce.747c48328","type":"debug","z":"de7ffed2.b31b1","name":"Console - Error Proxy","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":260,"wires":[]},{"id":"57db19c3.045058","type":"comment","z":"de7ffed2.b31b1","name":"Send email via Sendgrid API","info":"","x":1000,"y":120,"wires":[]},{"id":"ec587177.17909","type":"status","z":"de7ffed2.b31b1","name":"","scope":null,"x":640,"y":460,"wires":[["6f8089a8.97f938"]]},{"id":"6f8089a8.97f938","type":"debug","z":"de7ffed2.b31b1","name":"Console - Status","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":460,"wires":[]},{"id":"ef178bd2.a98c58","type":"comment","z":"de7ffed2.b31b1","name":"Handle All Node Status","info":"","x":680,"y":400,"wires":[]},{"id":"52ac9122.3d9c3","type":"catch","z":"fa950047.80a58","name":"Catch All","scope":null,"uncaught":false,"x":100,"y":620,"wires":[["581cddc9.d7d6f4"]]},{"id":"581cddc9.d7d6f4","type":"debug","z":"fa950047.80a58","name":"Error Log","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":620,"wires":[]},{"id":"1136e637.fc283a","type":"comment","z":"fa950047.80a58","name":"Handle All Error Exceptions","info":"","x":150,"y":560,"wires":[]},{"id":"4e7d8e0f.60a53","type":"status","z":"fa950047.80a58","name":"","scope":null,"x":620,"y":620,"wires":[["f39aab59.b03ef8"]]},{"id":"f39aab59.b03ef8","type":"debug","z":"fa950047.80a58","name":"Console - Status","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":620,"wires":[]},{"id":"155c7552.60c11b","type":"comment","z":"fa950047.80a58","name":"Handle All Node Status","info":"","x":660,"y":560,"wires":[]},{"id":"d3eaf23b.702e1","type":"catch","z":"ed906b93.077e28","name":"Catch All","scope":null,"uncaught":false,"x":100,"y":640,"wires":[["b13ba39a.7fbf"]]},{"id":"b13ba39a.7fbf","type":"debug","z":"ed906b93.077e28","name":"Error Log","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":640,"wires":[]},{"id":"73611c23.ed9864","type":"comment","z":"ed906b93.077e28","name":"Handle All Error Exceptions","info":"","x":150,"y":580,"wires":[]},{"id":"925e9ea0.7621b","type":"status","z":"ed906b93.077e28","name":"","scope":null,"x":600,"y":640,"wires":[["60e6d304.515b9c"]]},{"id":"60e6d304.515b9c","type":"debug","z":"ed906b93.077e28","name":"Console - Status","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":640,"wires":[]},{"id":"cbc2b673.294268","type":"comment","z":"ed906b93.077e28","name":"Handle All Node Status","info":"","x":640,"y":580,"wires":[]},{"id":"fc084f49.34d5f","type":"ip","z":"fa950047.80a58","name":"Public IP","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":true,"publicIPv6":false,"x":360,"y":100,"wires":[["9efb9b2f.b01458"]]}]